/*
  color  
  header #ff6900 
  footer #1a1a1a

*/

/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general  */
html {
  font-family: 'Open Sans', sans-serif;
  color: white;
}


a {
  text-decoration: none;
  color: white;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.s-between {
  justify-content: space-between;
}

.debug {
  border: 2px dotted brown;
}

/* header  */
header {
  background-color: #ff6900;
  padding: 10px 0;
}

.topbar img{
  height: 30px;
}

ul {
  list-style: none;
  align-items: center;
  gap: 10px;
} 

/* main  */
main {
  height: 550px;
}

/* footer  */
footer {
  padding: 20px 0;
  background-color: #1a1a1a;
}

footer h3 {
  padding-bottom: 8px;
  font-size: 0.9rem;
}

footer .info a {
  font-size: .7rem;
}

footer .social a {
  font-size: 1.2rem;
}
